$font-color-normal: #FFFFFF;
$font-color-accent: #55cd96;

$background-color-default: #101010;
$background-color-accent-white: white;
$background-color-accent-green: #55cd96;

$icon-color-default: #FFFFFF;
$icon-color-accent-green: #55cd96;
$icon-color-accent-yellow: #ffc107;